<link rel="preload" type="text/javascript" as="script" href="{{ '/pmd/pmd.min.js?v=' | append: site.github.build_revision | relative_url }}" />
<link rel="stylesheet" href="{{ '/pmd/normalize.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ '/pmd/predef.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ '/pmd/pmd.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ '/pmd/sober-theme.css?v=' | append: site.github.build_revision | relative_url }}">
<script src="{{ '/pmd/sober@1.1.8.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/pmd-conf.js?v=' | append: site.github.build_revision | relative_url }}"></script>